/*
 * CSS override for Torrentday. Its main purpose is to not having to scroll through recommended by staff, ads etc.
 * It also collapses categories and displays it when you hover over the search field. This CSS file assumes that
 * dark theme is selected in Torrentday settings. Import it into a CSS injecting plugin for your browser.
 *
 * TODO:
 */

/* Removess new icons */
.torrentNameInfo > span {
  display: none;
}

#pageWrapper {
  width: 1030px;
}

/* Removes 'recommended by Staff' and 'Hot right now' */
#topTables {
  display: none;
}
/* Removes donate button */

a[href="/donate.php"] {
  display: none;
}

/* Removes annoying stuff */
.tmS {
  display: none;
}

header * {
  color: #000000 !important;
  background: transparent !important;
}

#uiSearch:after {
  background: transparent !important;
}

/* Collapses categories, reveals on hover over search field. */
form[action="?#torrents"]:not(:hover) {
  height: 60px;
  overflow:hidden;
}

.menu, #navBarOuter, #userBar {
  border-radius: 0;
  background: #343434;
}
.menu *, #navBarOuter *, #userBar * {
  color: #bbb;
  border: 0;
}
select {
  background-color: #343434;
}
#torrentTable tbody tr th {
  background-color: #343434;
}
* {
  box-shadow: none;
}
